.colors {
width: 15px;
height: 15px;
border-radius: 50%;
}

#colorContainer {
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap: 5px;
}

.colors:hover {
transform: scale(1.1);
}