#bodyContainer {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: flex-start;
font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 17px;
padding: 10px;
}

#headerContainer {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 50px;
font-family: 'Raleway', sans-serif;
padding: 10px;
}

#townsContainer {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
font-family: 'Raleway', sans-serif;
text-align: center;
font-weight: 400;
padding: 10px;
gap: 25px;
}

.itemForm {
padding: 5px;
margin: 5px;
}